.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{background-color: #D5E1EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

img{
    width: 250px;
    border-radius: 10px;
    margin-top: 10px;
}

.container{
    border-radius: 15px;
    background-color: white;
    width: 270px;
    text-align: center;
    margin-top: 100px;
}

.text1{
    color: #1f3251;
    font-weight: 700;
}

.text2{
    color: #7b879d;
    font-weight: 400;
}